<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Index Page</title>
  </head>

  <body>
    <ul>
      <% @something.each do |thing| %>
        <li><%= thing %></li>
      <% end %>
    </ul>
  </body>
</html>
